.page-container {
	.sidebar + .sidebar-page .post{
		padding: 40px;
	}
}
.sidebar-page {
	width: 100%;
	padding: 0;
	&.pull {
		@media only screen and (min-width: $break-medium) {
			padding-left: 0;
			padding-right: 340px;
		}
	}
	&.push {
		@media only screen and (min-width: $break-medium) {
			padding-right: 0;
			padding-left: 340px;
		}
	}
}
.sidebar {
	width: 100%;
	float: none;
	padding: 30px;
	background: #f5f5f5;
	&.row {
		margin-left: auto;
		margin-right: auto;
	}
	
	&.pull {
		@media only screen and (min-width: $break-medium) {
			float: left;
		}
	}
	
	@media only screen and (min-width: $break-medium) {
		width: 340px;
		padding: 40px;
		float: right;
	}
}
.list-image {
	height: auto !important;
}
.widget {
	margin-bottom: 30px;
	color: #b8b8b8;
	
	#footer & {
		color: inherit;
	}
	&:last-child {
		margin-bottom: 0;

		@media only screen and (max-width: $break-small) {
			margin-bottom: 40px;
		}
	}
	
	h6 {
		margin-top: 0;
		margin-bottom: 20px;
		color: $color1;
		font-weight: 300;
		font-size: 12px;
		position: relative;
		display: block;
		
		text-transform: uppercase;
		letter-spacing: 0.5em;
	}

	ul {
		margin: 0;
		li {
			display: block;
			padding: 8px 0;
			font-size: 14px;
			font-weight: 300;
			line-height: 18px;
			margin: 0 !important;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				border-bottom: 0;
				padding-bottom: 0;
			}

			a {
				color: #737373;
				
				#footer & {
					color: #878787;
				}
			}
			p {
				font-size: 13px;
				line-height: 18px;
			}
			#footer & {
				font-size: 13px;
				border-color: rgba(255,255,255,0.1);
			}
		}
		&.menu {
			a {
				font-size: 14px;
				font-weight: 300;	
			}
			.current-menu-item>a {
				color: $color2;
			}
			
			.sub-menu {
				margin-top: 15px;
				padding-top: 15px;
				padding-left: 10px;
				border-top: 1px solid #eeeeee
			}
		}
	}
	&.widget_recent_entries,
	&.widget_recent_comments {
		ul li {
			margin: 0;
			padding: 14px 0;
			font-size: 14px;
			font-weight: 300;
			border-bottom: 1px dotted rgba(#868686,0.6);
			
			.url {
				color: $color3;
			}
		}
	}
	&.widget_tag_cloud {
		ul li {
			display: inline-block;
			padding: 0;
			border: 0;
		}

		.next {
			display: none;
		}
	}
	&.widget_categories {
		ul li {
			padding: 12px 0;	
		}
	}
	&.widget_top_rated_products,
	&.widget_products,
	&.widget_recently_viewed_products{
		ul {
			li {
				
				float: left;
				width: 100%;
				a {
					display: block;
					font-size: 13px;
					color: $color1;
					font-weight: 400;
					margin-bottom: 5px;
					
					@extend .mont;
					letter-spacing: -0.05em;
				}
				img {
					width: 50px;
					height: 50px;
					float: left;
					margin: 0 20px 0 0;
					
					.rtl & {
						float: right;
						margin: 0 0 0 20px;
					}
				}
				.star-rating {
					display: none;	
				}
				span {
					font-size: 14px;
					color: $color1;	
				}
				&:last-child {
					border-bottom: 0;
					padding-bottom: 15px;
				}
			}	
		}
	}
	&.widget_calendar {
		#calendar_wrap {
			border: 1px solid rgba(0,0,0,0.07);
		}
		table {
			background: transparent;
			border: 0;
			width: 100%;
			border-collapse: collapse;
			table-layout: fixed;
			@extend .reset;
			@include box-shadow(none);

			thead {
				background: transparent;
				font-size: 12px;
				border-bottom: 1px solid rgba(0,0,0,0.07);
				th {
					padding: 13px 0;
					color: #303030;
					text-align: center;
					font-weight: 800;
				}
			}
			tbody {
				tr:nth-child(even) {
					background: rgba(0, 0, 0, 0.01);
				}
				td {
					font-size: 12px;
					color: #686868;
					text-align: center;
					padding: 9px 0;
				}
			}
			tfoot {
				background: transparent;
				margin-top: 10px;
				border-top: 1px solid rgba(0,0,0,0.07);
				tr {
					td {
						padding: 12px 14px;
						font-size: 12px;

						a {
							color: #737373;
							text-transform: uppercase;
							font-weight: 800;
						}
					}
					#next {
						text-align: right;
					}
				}
			}
			caption {
				color: #303030;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 400;
				padding: 15px 0;
				border-bottom: 1px solid rgba(0,0,0,0.07);
			}
		}
	}
	&.woocommerce {
		height: auto;
		border: 0;
	}
	&.woocommerce.widget_layered_nav {

		ul {
			max-height: 190px;
			overflow: hidden;
			position: relative;
			li {
				border: 0;
				padding-top: 0;

				a {
					text-transform: capitalize;
					font-size: 14px;
				}
				.count {
					color: $color2;
					font-size: 14px;

					&:before {
						content: '(';
					}
					&:after {
						content: ')';
					}
				}
			}
		}
	}

	&.widget_product_categories {
		li {
			padding: 0 0 15px 0;
			border: 0;
			a {
				font-size: 16px;
				text-transform: capitalize;
				font-weight: 300;
			}

			ul {
				margin-left: 25px;
				padding: 15px 0 0 0;

				li {
					padding: 0 0 10px 0;
					a {
						text-transform: uppercase;
						font-size: 12px;
					}

					&:last-child {
						padding-bottom: 0;
					}
				}
			}
		}
	}

	&.widget_flickr,
	&.widget_dribbble {
		.overlay-effect {
			width: 85px;
			margin: 0 1px 1px 0;
			overflow: hidden;
			display: block;
			float: left;
			@include opacity(0.9);
			@include filter(grayscale(100%));
			@include translateZ(0);
			@include single-transition(all, 0.2s, ease-in-out);
			will-change: opacity, filter;
			&:hover {
				@include filter(grayscale(0%));
				@include opacity(0.999);
			}
			a {
				display: block;
			}
		}

	}
	&.widget_latestimages {
		ul {
			li {
				float: left;
				width: 100%;
			}
		}
		figure {
			float: left;
			.rtl & {
				float: right;
				
				img {
					width: 50px;
					margin-right: 0;
					margin-left: 18px;
				}
			}
			img {
				width: 50px;
				margin-right: 18px;
			}
		}
	}
	&.widget_subscribe_widget {
		.row {
			margin: 0 -3px;
			.columns {
				padding: 0 3px;

				input[type="text"] {
					height: 40px;
				}
				.btn {
					padding: 12px 0;
					width: 100%;
				}
			}
		}
	}

	&.widget_thbtwitter {
		.created {
			display: none;
		}
		ul {
			margin-bottom: 15px;
		}
		li {
			line-height: 18px;
			
			a {
				font-weight: 600;	
			}
		}
		#footer & {
			ul li a {
				color: #2caae1 !important;
			}
		}
		.btn.twitter {
			position: relative;
			padding: 10px 18px 10px 44px;
			text-transform: none;
			font-weight: 400;
			font-size: 13px;
			border-color: #2caae1 !important;
			background: #2caae1 !important;
			strong {
				font-weight: 600;	
			}
			i {
				position: absolute;
				top: 8px;
				left: 13px;
				font-size: 16px;
				color: rgba(255,255,255,0.4);	
			}
		}
	}

	&.widget_shopping_cart {
		.widget_shopping_cart_content {
			ul {
				li {
					float: left;
					width: 100%;

					img {
						float: left;
						width: 60px;
						margin-right: 20px;
					}
					h6 {
						color: $color1;
						margin: 0 0 9px;
						padding: 0;
						font-size: 13px;
						text-transform: none;
						font-weight: 400;
						letter-spacing: -0.05em;
					}
					.quantity {
						float: none;
						font-size: 13px;
						line-height: 13px;
						color: $color1;
						display: block;
						.amount {
							font-weight: 400;
							color: $color1;
							font-size: 13px;
							line-height: 13px;
						}
					}
				}
			}
			.total {
				margin-top: 20px;
				padding-top: 11px;
				border-top: 1px solid rgba(0,0,0,0.07);
				float: left;
				width: 100%;
				letter-spacing: -0.05em;
				@extend .mont;
				strong {
					float: left;
					color: $color1;
					font-size: 13px;
					line-height: 16px;
					font-weight: 400;
				}
				.amount {
					float: right;
					font-size: 16px;
					line-height: 16px;
					color: $color1;
					font-weight: 400;
				}
			}
			.buttons {
				float: left;
				width: 100%;
				margin: 0;
				.button {
					width: 100%;
					float: left;
				}
			}
		}
	}
	&.widget_product_search {
		#s {
			float: left;
		}
	}
}